*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  /* Light theme */
  --light-primary-color: #ffffff;
  --light-text-color: #4f4f4f;
  --light-secondary-color-grey: #9ca3af;
  --light-secondary-color-blue: #3584e4;

  /* Dark theme */
  --dark-primary-color: #1e1e1e;
  --dark-text-color: #e0e0e0;
  --dark-secondary-color-grey: #6b7280;
  --dark-secondary-color-blue: #4ea0f0;
}

body {
  background-color: var(--light-primary-color);
  color: var(--light-text-color);
  font-family: Roboto;
  padding-right: 2em;
  padding-left: 2em;
}

.page-header {
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
}

.page-header__caption {
  font-size: 2.5rem;
  margin-bottom: 0.1em;
}

.add-task-form {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.add-task-form__input {
  font-size: 1rem;
  flex-grow: 1;
  border: none;
  padding-bottom: 0.6em;
  border-bottom: 0.1rem solid var(--light-secondary-color-grey);
}

.add-task-form {
  margin-bottom: 1.5em;
}

.add-task-form__input:focus {
  outline: none;
  box-shadow: none;
}

.add-task-form__button {
  background-color: var(--light-text-color);
  border: none;
  color: var(--light-primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.add-task-form__button:hover,
.add-task-form__button:active {
  opacity: 0.8;
}

.task-list-container__caption {
  text-align: center;
  margin-bottom: 0.8em;
}
